*{

   margin: auto;
   padding: 0%;
   box-sizing: border-box;
   

}
{
   a{
      text-decoration: none;
      color: inherit;
   }
}
ul{\
 list-style: none;
}

header.black{
   background-color: black;
   color: white;
   display: flex;
   justify-content: space-between;
   padding: 5px 50px;
}
header.black ul{
   display: flex;
   gap: 20px;
   
}
banner-card .details h2{
   font-family: var(--heading-fon);
   font-size: 33px;
   font-weight:600 ;
   line-weight: 40px;
   margin: 10px 0px;
}
